.poke-grid {
  margin: 2rem auto;
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  gap: 16px;
  width: 80%;
}

.poke-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  margin: 4px;
  max-width: 10rem;
  color: #055367;
  border: 1px solid #0891b240;
  background: linear-gradient(-10deg, #0891b240 0%, transparent 50%);
}

.poke-grid-item:hover img {
  transform: scale(1.2);
}

.poke-grid-item img {
  transition: all 100ms ease-out;
}